.header-component-wrapper {
  display: flex;
  /* flex: 1; */
  height: 50px;
  padding: 10px;
  background-color: rgb(69, 123, 232);
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  
}

.app-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* max-width: 1200px; */
}

.header-title {
  align-self: center;
  font-size: 31px;
  font-weight: bolder;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}

/* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
  .header-title { display: none; }
}

.app-logo {
  height: 50px;
}

.children {
  width: 100%;  
  align-self: center; 
  justify-self: center;
}